<fieldset id="contenido" >
  <legend id="leyendaindex">
    Panel Cliente
  </legend>
<% form_for(@cliente) do |f| %>
  <%= f.error_messages %>
  <table  frame = "box", width = "500">
    <tr>
      <td>
        <%= link_to image_tag("Select.gif", :mouseover => "Selectmo.gif", :border => 0 ), edit_cliente_path(@cliente) %>
        <%= link_to image_tag("Cancel.gif", :mouseover => "Cancelmo.gif", :border => 0), clientes_path %>
      </td>
    </tr> 
  </table> 
  <br /> 
  <table>
    <col width="200px"/><col width="300px"/>
    <tr> 
      <td><%= image_tag("clientes/#{@cliente.logo}", :size => "150x100")%> </td>
      <td> <h3> <%= @cliente.codigo %>  <%= @cliente.nombre %> </h3> <br />
          <%= @cliente.direccion %> <br />
          <%= @cliente.telefono1 %>  <%= @cliente.email %>
      </td>
    </tr>
    <tr> 
      <td> </td> <td></td>
    </tr>
  </table>
<% end %>
</fieldset>
