<% fields_for @usuario do |f| %>
  <table>
    <col width="200px"/><col width="205px"/>
    <tr><td>Usuario codigo </td> <td><%= f.text_field :codigo, :size =>3, :maxlength =>3 %></td></tr>
    <tr><td>Usuario nombre </td> <td><%= f.text_field :nombre, :size =>32, :maxlength =>32 %></td></tr>
    <tr><td>Usuario login </td> <td><%= f.text_field :login, :size =>16, :maxlength =>16 %></td></tr>
    <tr><td>Password </td> <td><%= f.password_field :password, :size => 10%></td></tr>
    <tr><td>Confirme </td> <td><%= f.password_field :password_confirmation, :size => 10%></td></tr>
    <tr><td>Estado </td> <td><%= f.text_field :estatus, :size =>3, :maxlength =>3 %></td></tr>
    <tr><td>Suscriptor </td>
        <td><%=select("usuario", "suscriptor_id", Suscriptor.all.collect {|p| [ p.nombre, p.id ] }, { :include_blank => true }) %></td>
    </tr>
  </table>

  <input type="hidden" id="rol_id_anterior" name="rol_id_anterior" />
  <input type="hidden" id="rol_id_ultimo" name="rol_id_ultimo" />

  <br/>
<% end %>
