<table class="tope">
  <col width="80px"/>
  <col width="470px"/>
  <col width="60px"/>
  <col width="60px"/>
  <col width="100px"/>
  <tr> 
    <th <%= sort_td_class_helper "codigo" %>> <%= sort_link_helper "Código", "codigo" %> </th>
    <th <%= sort_td_class_helper "nombre" %>> <%= sort_link_helper "Nombre", "nombre" %> </th>
    <th> Sts</th>
    <th> Cat </th>
    <th>     </th>
  </tr>
</table>

  <% form_tag(usuarios_path, :method => "get") do %>
    <table class="qbe">
      <col width="80px"/>
      <col width="470px"/>
      <col width="60px"/>
      <col width="60px"/>
      <tr>
        <td align=left><%= text_field_tag :codigo, @qbe_key[:codigo],  :maxlength => 4, :size =>6 %></td>
        <td align=left><%= text_field_tag :nombre, @qbe_key[:nombre],  :maxlength => 32, :size =>70 %></td>
        <td align=left><%= text_field_tag :estatus, @qbe_key[:estatus],  :maxlength => 4, :size =>3 %></td>
        <td><%= image_submit_tag "Find.gif", :id => "BotonFind1" %></td>
      </tr>
    </table>
  <% end %>

<table class="lista">
  <col width="80px"/>
  <col width="470px"/>
  <col width="60px"/>
  <col width="60px"/>
  <% for usuario in @usuarios -%>
    <tr class="<%= cycle("Impar","Par") %>" 
        onmouseover="document.getElementById('tabla-lista<%=  usuario.id %>').className='con-botones';"
        onmouseout="document.getElementById('tabla-lista<%=  usuario.id %>').className='sin-botones';">
      <td><%= usuario.codigo %></td>
      <td><%= usuario.nombre %></td>
      <td><%= usuario.estatus %></td>
      <td><%= usuario.suscriptor.codigo %></td>
      <td class="sin-botones" id="tabla-lista<%=  usuario.id %>"><%= link_to image_tag("modetail.gif", :mouseover => "modetailmo.gif", :border => 0), usuario %>
          <%= link_to image_tag("Select.gif", :mouseover => "Selectmo.gif", :border => 0), edit_usuario_path(usuario) %>
          <%= link_to image_tag("Delete.gif", :mouseover => "Deletemo.gif", :border => 0), usuario, :confirm => 'Confirma la operacion?', :method => :delete %></td>
    </tr>
  <% end -%>
</table>

<br />
<div class="paginacion">
  <div class="info_paginas" >
    <%= page_entries_info @usuarios %>
  </div>
  <%= will_paginate @usuarios  %>
</div>
